.page {
  background: #000000;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 45px 0 60px;
}

@media screen and (max-width:450px) {
.page {
  padding:28px 0 36px;
}
}
