.popup__submit {
height: 50px;
background-color: #000;
color: #fff;
border: none;
border-radius: 2px;
margin-bottom: 37px;
cursor: pointer;
}

.popup__submit:hover {
  opacity: .8;
}

@media screen and (max-width:450px) {
  .popup__submit {
    margin-bottom: 25px;
  }
}
